player-connection-mode=Listen
player-connection-guid=2130592795
player-connection-debug=0
player-connection-project-name=MProject_Prototype
player-connection-ip=192.168.0.2
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=89f219b4d29c4fb9bd3d5f3077661a28
