player-connection-mode=Listen
player-connection-guid=1672687462
player-connection-debug=0
player-connection-project-name=MProject_Prototype
player-connection-ip=192.168.0.2
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ae954a37afbf49a8bea102da3b4e548c
